
.each-slide > div {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
}

@media (min-width: 768px){ 
  .each-slide > div {
    height: 220px;
  }
}

@media (min-width: 900px){ 
  .each-slide > div {
    height: 235px;
  }
}

@media (min-width: 1024px){ 
  .each-slide > div {
    height: 260px;
  }
}

@media (min-width: 1440px){ 
  .each-slide > div {
    height: 380px;
  }
}

@media (min-width: 1669px){ 
  .each-slide > div {
    height: 420px;
  }
}

@media (min-width: 1920px){ 
  .each-slide > div {
    height: 480px;
  }
}

@media (min-width: 2560px){ 
  .each-slide > div {
    height: 650px;
  }
}